.animate{
    transform: translateX(100px);
}

.bees{
    transition: transform 500ms ease ease-out; 
    position:relative;
    height: 100%;
    width: 50%;
}

.carousel{
    height: 10%;
    width: 100%;
}


