.animate{
    transform: translateX(50px);
}

.bees{
    transition: transform .5s ease ease-out; 
    position:relative;
    height: 100%;
    width: 50%;
    left: 100%;
}

.carousel{
    height: 10%;
    width: 100%;
}


