<!DOCTYPE Html>

<head>
    <title>Chocolate Land</title>
 
    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" /> <!--personal css-->
    
    <!--jQueries-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Metadata-->
    <meta charset="UTF-8">

</head>


<body>
    <!--Header-->
    <header>
        <nav class = "navbar p-3 bg-warning text-white">
            <ul class="nav nav-justified nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active bg-dark goals m-3" onclick= "scrollToGoal()" >Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark hobbies m-3" onclick= "scrollToHobbies()">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark history m-3" onclick= "scrollToHistory()">History</a>
                </li>
                <h2 class="m-3"> Josiah Paintsil's Website</h2>
                <div>
                    <img class="bees" src="assets/images/bees.png" alt="Bees">
                </div>
            </ul>
        </nav>
    </header>

    <!--Body-->
    <body>
      <!--Carousel-->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/images/library.jpg" alt="Library">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/images/late-night-reflection.jpg" alt="Late Night Reflection">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/images/crescent.jpg" alt="Crescent">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      
      <!--Cards-->
      <div class="card" id="goal-card">
          <div class="card-body">
            <h5 class="card-title">Goals</h5>
            <p class="card-text">I have many long term and short aspirations. As a freshman at Colgate University, I plan on completing a Bachelor of Arts Degree with majors in Computer Science and Psychology. 
              I am interested in these subjects because computer science and psychology are both widely applicable in multiple fields, which allows for me to work fluidly.
              For example, both of these degrees would give a foothold in understanding Neural Networks, and using these networks to build applications.
              Similarly, they allow me to develop my soft skills in that they teach me better communication skills and push me to put them in practice when working on group projects.
              My long term goals are to spend some time working in the computer science field, most likely doing research, and then go back to school to complete a master's and then a doctorate's in computer science.
            </p>
          </div>
        </div>
        
        <div class="card text-center" id = "history-card" >
            <div class="card-body">
              <h5 class="card-title">History</h5>
              <p class="card-text">I grew up in Yonker, NY for a large part of my life, and in the seventh grade, I moved to New Rochelle, NY. I attended Albert Leonard for middle school, and went to Phillips Exeter, a boarding school, for highschool. 

              </p>
            </div>
          </div>

        <div class="card text-right" id = "hobbies-card">
          <div class="card-body">
            <h5 class="card-title">Hobbies</h5>
            <p class="card-text">I consider myself to be quite a creative individual, in that I have artistic hobbies. I sing for the Colgate Dischords, which is a small choir at my school.
              Similaly, when I'm not too busy, I like to go out with friends and take photos of either them or of the landscape. I've put a couple of my favorite shots in the carousel up above.
              However, when I'm not doing either, I like to hang out with friends, playing video games/chess, planning my radio show, and learning new skills.
            </p>
          </div>
        </div>
    </body>

    <!--Footer-->
    <footer>

    </footer>

    <!--Javascript-->
    <script src="assets/javascript/script.js"></script>
</body>


